<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SuperMark</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'design/main.css' %}">
</head>

<body>
  <header>
    <!-- <section style="background: #f1c40f; color: rgba(0, 0, 0, 0.5);"> -->
    <nav class="shift">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Downloads</a></li>
        <li><a href="#">More</a></li>
        <li><a href="#">Nice staff</a></li>
      </ul>
    </nav>
    <!-- </section> -->
    <hr class="separator">
  </header>
</body>

</html>
