<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SuperMark</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'design/main.css' %}">
</head>

<body>
  <header>

    <div class="grid-wrapper">
    <div class="grid-item-nav-logo"><h2>test here logo</h2></div>
    <div class="grid-item-nav-list">
    <nav class="shift">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Stocks</a></li>
        <li><a href="#">Crypto</a></li>
        <li><a href="#">Forex</a></li>
      </ul>
    </nav>
    </div>
    <div class="grid-item-nav-list-logo"><h2>another teset</h2></div>
    </div>
    <hr class="separator">
  </header>
</body>

</html>
