<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SuperMark</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'design/main.css' %}">
</head>

<body>
  <header>
    <div class="gray1 center">
      <a href="https://www.investing.com/" target="blank">
        <h3>Wadapak Hub</h3>
      </a>
    </div>
    <hr class="separator">
    <div class="grid-nav-wrapper">
      <div class="grid-nav-element nav-bar-text center">
        <a href="#">Learn</a>
      </div>
      <div class="grid-nav-element nav-bar-text center">
        <a href="#">Stocks</a>
      </div>
      <div class="grid-nav-element nav-bar-text center">
        <a href="#">Sign-Up</a>
      </div>
    </div>
    <hr class="separator">
  </header>
</body>

</html>
